<p class="btn btn-info"><%= link_to "Back to Lists", lists_path %></p>
<h1><%= @list.name %></h1>
<p>Your movies:</p>

<p class="btn btn-info"><%= link_to "+", new_bookmark_path %></p>

<div class="grid-container">
  <%# <% @lists.each do |list| %> %>
    <div class="list-card grid-item">
      <%# <h3><%= link_to list.name, list_path(list.id) %></h3> %>
    </div>
  <%# <% end %> %>
</div>
